# Ignorar arquivo do SonarQube
compile_commands.json
# Ignorar arquivo das orientações do trabalho
TrabalhoDisciplina2024_2.pdf
# Ignorar arquivo workspace do VSCode
*.code-workspace
# Ignorar pasta do VSCode
.vscode/
# Ignorar pasta output
output/
# Ignorar o arquivo de teste
teste.c