# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
# Parte Pessoal do gitignore
# Ignorar arquivo do SonarQube
compile_commands.json
# Ignorar arquivo das orientações do trabalho
TrabalhoDisciplina2024_2.pdf
# Ignorar arquivo workspace do VSCode
*.code-workspace
# Ignorar pasta do VSCode
.vscode/
# Ignorar pasta output
output/
# Ignorar o arquivo de teste
teste.c